.ul-list{
    font-family: 'Poppins';
font-weight: 500;
font-style: Medium;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
color:#000000;
}
#section2 img{
    width: 360px;
height: 380px;
opacity: 1;

}
.Browse{
    font-family: 'Poppins';
font-weight: 700;
font-size: 32px;
line-height: 100%;
letter-spacing: 0px;
color:#333333;
text-align: center;
}
.Browse-p{
    font-family: 'Poppins';
font-weight: 400;
font-size: 20px;
line-height: 100%;
letter-spacing: 0px;
text-align: center;
color:#666666;
}
.browse-footer{
    font-family: 'Poppins';
font-weight: 600;
font-size: 24px;
line-height: 100%;
letter-spacing: 0px;
text-align: center;
padding-top: 25px;

}

#product-section h4{
    font-family: 'Poppins';
font-weight: 600;
font-size: 24px;
line-height: 120%;
letter-spacing: 0%;
color: #3A3A3A;
}
#product-section h2{
    font-family: 'Poppins';
font-weight: 700;
font-size: 40px;
line-height: 120%;
letter-spacing: 0%;
text-align: center;
color:#3A3A3A;
padding-top: 50px;
padding-bottom: 20px;
}

#product-section p{
font-family: 'Poppins';
font-weight: 500;
font-size: 16px;
line-height: 120%;
letter-spacing: 0%;
color: #898989;
}
#product-section h5{
    font-family: 'Poppins';
font-weight: 600;
font-size: 20px;
line-height: 110%;
letter-spacing: 0%;
color: #3A3A3A;
}


.my-btn {
  border: 2px solid #B88E2F; /* Border color + width */
  background: white;
  color:#B88E2F;
  padding: 6px 70px;
  border-radius: 0px;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}
.buttton-design{
    color:white;
    background: #B88E2F;
    border-radius: 0;
    font-size: 18px;
    font-weight:600;
    padding:6px 50px ;

}

#inspiration{
    background-color: #FCF8F3;
    padding-top: 50px;
    margin-top: 100px;
}

#inspiration h1{
    font-family: 'Poppins';
font-weight: 700;
font-size: 40px;
line-height: 120%;
letter-spacing: 0%;
color:#3A3A3A;
}

#inspiration p{
    font-family: 'Poppins';
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0%;
color:#616161;
}
.heading{
    padding-top: 200px;
}
.ft{
    font-family: 'Poppins';
font-weight: 400;
font-style: 'Regular';
font-size: 16px;
line-height:2;
letter-spacing: 0%;
color:#9F9F9F;
}
.ft-head{
    font-family:'Poppins';
font-weight: 500;
font-style: Medium;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
color:#9F9F9F;
}
.footer-link{
    font-family:'Poppins';
font-weight: 500;
font-style: Medium;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
color:#000000;
text-decoration: none;
}
.lastp{
    font-family: 'Poppins';
font-weight: 400;
font-style: Regular;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
margin-left: 75px;
}